.ball-form {
    margin-top: 1.5rem;

    &__container { 
        min-height: 120px;
    }
    
    &__selection {
        border-right: 2px solid ivory;
        display: flex;
        align-items: center;
    }

    &__input {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    &__text {
        color: whitesmoke;
        font-size: var(--font-size-bigger);
        font-weight: var(--font-weight-semibold);
    }
}